/* =========================================
   Action Group
   ========================================= */

.action-group {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
